<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #091740;">
    <h5 class="navbar text-white">Agence Catherine Nabokov</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="{{path('author_index')}}">Auteurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="admin_livres.html">Livres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{path('admin_collaborators')}}">Collaborateurs</a>
            </li>
        </ul>
        <button class="btn btn-sm btn-outline-light my-2 my-sm-0" style="margin-left: 15px;" type="submit">Déconnexion</button>
    </div>
</nav>