{% extends 'base.html.twig' %}

{% block title %} Modifier un auteur !{% endblock %}

{% block body %}
    <h1>Formulaire de modification d'un auteur</h1>
    <hr>

    <div>
       {{ form(formAuthor) }}
    </div>
    <br>

    <div>
        <a href="{{ path('author_index') }}" class="btn btn-info">Retour à l'accueil</a>
    </div>

{% endblock %}
