<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Agence Catherine Nabokov" />
		<meta name="keywords" content="Agence littéraire" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block icon %}{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

    </head>
    <body class="fond">
        {% block body %}{% endblock %}

        {% block scripts %}{% endblock %}
    </body>
</html>
