{% extends 'base.html.twig' %}




{% block title %}Hello auteurs!{% endblock %}

{% block body %}
    <h1>Actualité</h1>
    <div style="display: flex; justify-content: space-around">
        {% for book in lastBooks %}
            <div style="background-image: url('{{ asset('images/books/' ~ book.imageName) }}'); height:300px;width:300px; display: flex; flex-direction: column;    justify-content: center;
             align-items: center;">
             
                <h2>{{ book.title }}</h2>
                <span> - </span>
                <h3>{{ book.editor }}</h3>
             </div>

        {% endfor %}
    </div>
{% endblock %}
