{% extends 'base.html.twig' %}




{% block title %}Hello auteurs!{% endblock %}

{% block body %}
    <h1>Actualité</h1>
    <div style="display: flex; justify-content: space-around">
        {% for book in lastBooks %}
            {% include 'components/card-book.html.twig' with {'book': book} %}
        {% endfor %}
    </div>
{% endblock %}
