{% extends 'base.html.twig' %}

{% block title %} Ajouter un livre!{% endblock %}

{% block body %}
    
    <div>
       {{ form(formBook) }}
    </div>
    <br>

    <div>
        <a href="{{ path('book_index') }}" class="btn btn-info">Retour à la liste des livres</a>
    </div>

{% endblock %}
