Bonjour, 

<p>Vous avez un nouveau message de {{contact.email}}</p>

<h2>Envoyé le {{contact.sentAt|format_datetime(locale='fr') }}  </h2>
<h2>Sujet:{{contact.sujet}} <h2>


<p> {{contact.message}} </p>